.main
  overflow: hidden
  width: 100%
  padding: 3.5% 0
  background: url(../img/grad.png) center center no-repeat rgba(8,19,25,1)
  background: radial-gradient(ellipse at center, rgba(33,53,66,1) 0%, rgba(33,53,66,1) 16%, rgba(8,19,25,1) 59%, rgba(8,19,25,1) 100%)
  &__img
    width: 50%
    overflow: inherit
    float: left
    img
      width: 100%
      max-width: 542px
      margin: auto
  &__conteiner
    width: 50%
    overflow: hidden
    padding-top: 2.5%
    color: #fff
  &__title
    display: block
    float: left
    clear: right
    text-transform: uppercase
    +Rounded-T
    font-size: 3.5em
    letter-spacing: 0.1em
    b
      +Rounded-B
  &__text
    float: left
    clear: left
    margin-top: 5.7%
    font-size: 1.2em
    p
      display: block
      float: left
  &__price
    width: 85%
    overflow: hidden
    float: left
    clear: both
    margin-top: 17.1%
    h6
      font-size: 1em
      font-weight: 400
    span
      font-size: 3.2em
      i
        font-size: 0.8em
    button
      display: block
      float: right
      clear: right
      margin-top: 2.5%
      background-color: #00aeef
      color: #fff
      font-size: 1em
      line-height: 250%
      padding: 0.5% 8%
      border-radius: 15px
  &__address
    width: 100%
    overflow: hidden
    margin-top: 4%
    float: left
    clear: left
    a
      margin-right: 6%
      font-size: 1em
      color: #fff
      line-height: 2
  &__icon-location
    display: inline-block
    margin-right: 1%
    vertical-align: middle
    +s(location)
  &__arrows
    .slick-prev,
    .slick-next
      margin-top: -26px
      height: 52px
      width: 25px
      cursor: pointer
      background-color: transparent
      &:before
        width: 26px
        height: 52px
        content: " "
        background-color: transparent
        background-image: url(../img/left_arrow.png)
    .slick-next
      &:before
        content: " "
        background-image: url(../img/right_arrow.png)
  .slick-dots
    top: 99%
    button
      display: block
      width: 11px
      height: 11px
      background: url(../img/dots.svg)
      box-shadow: none
    li
      &.slick-active
        button
          background: #fff
.two-sides
  overflow: hidden
  width: 100%
  clear: both
  padding: 4% 0
  background: #fff
  h5
    padding-bottom: 3%
    font-size: 1em
    font-weight: 600
    text-transform: uppercase
  li
    list-style-image: url(../img/symbol.png)
  &__titles
    overflow: hidden
    width: 50%
    float: left
    clear: left
  &__title
    text-transform: uppercase
    +Rounded-T
    font-size: 3.5em
    letter-spacing: 0.1em
    b
      +Rounded-B
  &__subtitle
    font-size: 3em
    font-weight: 300
  &__text
    float: left
    width: 50%
    clear: right
    font-size: 1.4em
    font-weight: 300
  &__conteiner
    width: 100%
    float: left
    margin-top: 6%
  &__textbox
    float: left
    width: 22%
    margin-right: 3%
    font-size: 1.2em
.video
  background-color: #000
  width: 100%
  &__conteiner
    overflow: none
    width: 100%
    max-width: 1260px
    margin: auto
.forbes
  overflow: hidden
  position: relative
  width: 100%
  clear: both
  padding: 3.5% 0
  background: #eee
  font-size: 1.2em
  h5
    padding-bottom: 3%
    font-weight: 600
    font-size: 1em
    text-transform: uppercase
  li
    list-style-image: url(../img/symbol.png)
  &__title
    margin-bottom: 2%
    font-size: 1.1em
    text-transform: uppercase
    padding-left: 4%
  &__text
    width: 100%
    float: left
    clear: both
    padding-left: 4%
    font-size: 2.5em
    font-weight: 300
    line-height: 1.2em
  &__conteiner
    width: 100%
    float: left
    margin-top: 4%
    position: relative
  &__textbox
    float: left
    width: 20%
    margin-left: 1%
    padding-right: 0.5%
    font-size: 1em
  &__arrows
    .slick-prev,
    .slick-next
      margin-top: 0
      height: 52px
      width: 25px
      left: 15%
      top: 67%
      cursor: pointer
      background-color: transparent
      +r(1750)
        left: 0
        margin: 0 5%
      +r(1400)
        margin: 0
      +r(1000)
        position: relative
        display: none
        float: left
        margin: 5% 20% 0 20%
      &:before
        width: 26px
        height: 52px
        content: " "
        background-color: transparent
        background-image: url(../img/left_arrow-blue.png)
    .slick-next
      left: 85%
      +r(1750)
        left: auto
        right: 0
      +r(1000)
        float: right
      &:before
        content: " "
        background-image: url(../img/right_arrow-blue.png)
@each $s in panel,battery,read,styles
  .yota#{$s}
    overflow: hidden
    width: 100%
    clear: both
    padding: 3.5% 0
    background: #fff
    font-size: 1.1em
    &__col-1
      overflow: inherit
      width: 50%
      float: left
      clear: left
    &__col-2
      overflow: inherit
      width: 50%
      float: right
      clear: right
      img
        display: block
        width: 100%
        float: right
        clear: right
        max-width: 622px
    &__title
      margin-bottom: 5%
      font-size: 2.6em
      font-weight: 300
    &__videolink
      overflow: hidden
      i
        display: inline-block
        float: left
        +png(play_link_b)
        width: 36px
        height: 36px
      a
        display: inline-block
        width: inherit
        float: left
        line-height: 36px
        text-decoration: none
        color: #000
        font-size: 1.5em
        font-weight: 300
    &__text
      margin-top: 6%
      padding-right: 15%
    &__value
      overflow: inherit
      margin-top: 6%
      ul
        display: block
        li
          display: inline-block
          float: left
          padding-right: 15%
          p
            font-size: 2.2em
@each $s in battery,styles
  .yota#{$s}
    background: #000
    color: #fff
    img
      float: left
      clear: left
    a
      color: #fff
    &__col-1
      float: right
      clear: right
    &__col-2
      float: left
      clear: left
    &__title
      margin-bottom: 5%
      margin-top: 15%
    &__videolink
      i
        +png(play_link)
.yotaread
  background: linear-gradient(135deg, rgba(244,232,233,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e8e9', endColorstr='#ffffff', GradientType=1 )
  // background-image: url(../img/bg_read.png)
  // background-position: top left
  // background-repeat: no-repeat
.yotacare
  overflow: hidden
  width: 100%
  clear: both
  padding: 2.5% 0
  background: #212325
  color: #fff
  font-size: 1.2em
  &__title
    font-size: 2.6em
    font-weight: 300
    margin-bottom: 7%
  &__conteiner
    width: 100%
    float: left
    margin-bottom: 10%
  &__textbox
    float: left
    width: 20%
    margin-right: 5%
    font-size: 1em
    h5
      display: block
      float: left
      clear: both
      text-transform: uppercase
      font-weight: 600
      font-size: 1em
      padding-bottom: 5%
    span
      display: block
      float: left
      clear: both
      color: #cecece
  &__img
    float: left
    clear: both
    margin-bottom: 10%
  @each $s in clock,delivery,warranty,discont
    .icon--#{$s}
      +s(#{$s})
  &__characteristics
    display: block
    width: 50%
    margin: auto
    +vertical
    font-size: 1.5em
    background-color: transparent
    color: #ababab
    cursor: pointer
    i
      display: inline-block
      float: right
      +s(arrow)
  &__arrow
    display: inline-block
.yotabuy
  overflow: hidden
  width: 100%
  max-height: 795px
  padding: 8% 10%
  clear: both
  background: url(../img/yotabuy.jpg) top center no-repeat
  background-size: contain
  background-color: #000
  &__price
    display: block
    padding: 20% 12% 20% 30%
    float: right
    clear: both
    color: #fff
    font-size: 2.4em
    span
      font-size: 0.5em
  &__buttons
    overflow: inherit
    width: 100%
    clear: both
    text-align: center
    a
      display: inline-block
      padding: 0.5% 3%
      margin-right: 2%
      background-color: #00aeef
      color: #fff
      border-radius: 15px
      font-size: 1em
      line-height: 220%
      text-decoration: none
