.header
  overflow: hidden
  width: 100%
  height: auto
  padding: 0.7% 10% 0.5% 10%
  background-color: #081319
  &__logo
    width: 20%
    display: inline-block
    float: left
    clear: left
    img
      width: auto
  &__menu
    width: 80%
    display: inline-block
    float: right
    clear: right
    font-size: 0.9em
    text-align: center
    white-space: nowrap
    li
      display: inline-block
      float: right
      padding: 0.5% 1.7%
      a
        display: block
        text-transform: uppercase
        text-decoration: none
        color: #fff
  &__buy
    margin-left: 1.7%
    border-radius: 10px
    border: solid 1px #fff
.white-line
  width: 100%
  float: left
  color: #fff
  height: 2px
  border: none
  margin: 0
.main
  overflow: hidden
  width: 100%
  padding: 4.5% 1% 3.5% 20%
  background: rgba(8,19,25,1)
  background-image: url(../img/grad.png)
  background-repeat: no-repeat
  background-position: center center
  background: radial-gradient(ellipse at center, rgba(33,53,66,1) 0%, rgba(33,53,66,1) 16%, rgba(8,19,25,1) 59%, rgba(8,19,25,1) 100%)
  &__img
    width: 35%
    height: auto
    overflow: hidden
    display: block
    float: left
    margin-right: 1.4%
    img
      width: 100%
      max-width: 542px
  &__conteiner
    width: 35%
    overflow: hidden
    margin-top: 2.5%
    color: #fff
  &__title
    display: block
    float: left
    clear: right
    text-transform: uppercase
    font-family: 'Rounded-Thin'
    font-size: 3.5em
    // font-weight: 400
    letter-spacing: 0.1em
    b
      font-family: 'Rounded-Black'
  &__text
    float: left
    clear: left
    margin-top: 5.7%
    p
      display: block
      float: left
  &__price
    width: 85%
    overflow: hidden
    float: left
    clear: both
    margin-top: 17.1%
    h6
      font-size: 1em
      font-weight: 400
    span
      font-size: 2.8em
      i
        font-size: 0.8em
    button
      display: block
      float: right
      clear: right
      margin-top: 2.5%
      background-color: #00aeef
      color: #fff
      font-size: 1em
      line-height: 250%
      padding: 0.5% 8%
      border-radius: 15px
  &__address
    width: 100%
    overflow: hidden
    margin-top: 4%
    float: left
    clear: left
    a
      margin-right: 6%
      font-size: 1em
      color: #fff
      line-height: 2

  &__icon-location
    display: inline-block
    margin-right: 1%
    vertical-align: middle
    +s(location)
.two-sides
  overflow: hidden
  width: 100%
  clear: both
  padding: 2.5% 14% 6% 25%
  background: #fff
  h5
    text-transform: uppercase
    font-weight: 600
    font-size: 1em
    padding-bottom: 3%
  li
    list-style-image: url(../img/symbol.png)
  &__titles
    overflow: hidden
    width: 40%
    float: left
    clear: left
  &__title
    text-transform: uppercase
    font-family: 'Rounded-Thin'
    font-size: 3em
    // font-weight: 400
    letter-spacing: 0.1em
    b
      font-family: 'Rounded-Black'
  &__subtitle
    font-size: 2.6em
    font-weight: 300
  &__text
    float: left
    width: 40%
    margin-left: 2%
    clear: right
    font-size: 1.3em
    font-weight: 300
  &__conteiner
    width: 100%
    float: left
    margin-top: 6%
  &__textbox
    float: left
    width: 18%
    margin-right: 3%
    font-size: 1em

.video
  background-color: #000
  width: 100%
  &__conteiner
    margin: auto
    width: 80%
    max-width: 1600px
#video
  height: 560px
  max-height: 560px
  overflow: none
  margin: auto
.forbes
  overflow: hidden
  width: 100%
  clear: both
  padding: 2.5% 14% 3.5% 25%
  background: #eee
  h5
    text-transform: uppercase
    font-weight: 600
    font-size: 1em
    padding-bottom: 3%
  li
    list-style-image: url(../img/symbol.png)
  &__title
    margin-bottom: 2%
    text-transform: uppercase
    font-size: 1.1em
  &__text
    float: left
    width: 70%
    clear: right
    font-size: 2.7em
    font-weight: 300
    line-height: 1.2em
  &__conteiner
    width: 100%
    float: left
    margin-top: 4%
  &__textbox
    float: left
    width: 18%
    margin-right: 5%
    font-size: 1em
.yotapanel
  overflow: hidden
  width: 100%
  clear: both
  padding: 3% 14% 3.5% 25%
  background: #fff
  img
    display: block
    float: right
    clear: right
  &__conteiner
    overflow: inherit
    width: 35%
    float: left
    clear: left
  &__title
    font-size: 2.6em
    font-weight: 300
    margin-bottom: 5%
  &__videolink
    overflow: hidden
    i
      display: inline-block
      float: left
      +png(play_link_b)
      width: 36px
      height: 36px
    a
      display: inline-block
      float: left
      margin-left: 1.5%
      line-height: 36px
      text-decoration: none
      color: #000
      font-size: 1.5em
      font-weight: 300
  &__text
    margin-top: 6%
  &__value
    overflow: inherit
    margin-top: 6%
    ul
      display: inline
      li
        display: inline-block
        float: left
        margin-right: 15%
        p
          font-size: 2.2em
.battery
  overflow: hidden
  width: 100%
  clear: both
  padding: 3% 14% 3.5% 25%
  background: #000
  color: #fff
  img
    display: block
    float: left
    clear: left
  &__conteiner
    overflow: inherit
    width: 45%
    margin-right: 10%
    float: right
    clear: right
  &__title
    font-size: 2.6em
    font-weight: 300
    margin-bottom: 5%
    margin-top: 22%
  &__videolink
    overflow: hidden
    i
      display: inline-block
      float: left
      +png(play_link)
      width: 36px
      height: 36px
    a
      display: inline-block
      float: left
      margin-left: 1.5%
      line-height: 36px
      text-decoration: none
      color: #fff
      font-size: 1.5em
      font-weight: 300
  &__text
    margin-top: 6%
  &__value
    overflow: inherit
    margin-top: 6%
    ul
      display: inline
      li
        display: inline-block
        float: left
        margin-right: 15%
        p
          font-size: 2.2em
.read
  overflow: hidden
  width: 100%
  clear: both
  padding: 3% 14% 3.5% 25%
  background-color: #fff
  background: linear-gradient(135deg, rgba(244,232,233,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e8e9', endColorstr='#ffffff', GradientType=1 )
  // background-image: url(../img/bg_read.png)
  // background-position: top left
  // background-repeat: no-repeat
  img
    display: block
    float: right
    clear: right
  &__conteiner
    overflow: inherit
    width: 40%
    float: left
    clear: left
  &__title
    font-size: 2.6em
    font-weight: 300
    margin-bottom: 5%
  &__videolink
    overflow: hidden
    i
      display: inline-block
      float: left
      +png(play_link_b)
      width: 36px
      height: 36px
    a
      display: inline-block
      float: left
      margin-left: 1.5%
      line-height: 36px
      text-decoration: none
      color: #000
      font-size: 1.5em
      font-weight: 300
  &__text
    margin-top: 6%
  &__value
    overflow: inherit
    margin-top: 6%
    ul
      display: inline
      li
        display: inline-block
        float: left
        margin-right: 15%
        p
          font-size: 2.2em
.style
  overflow: hidden
  width: 100%
  clear: both
  padding: 3% 14% 3.5% 25%
  background: #000
  color: #fff
  img
    display: block
    float: left
    clear: left
  &__conteiner
    overflow: inherit
    width: 45%
    margin-right: 10%
    float: right
    clear: right
  &__title
    font-size: 2.6em
    font-weight: 300
    margin-bottom: 5%
    margin-top: 22%
  &__videolink
    overflow: hidden
    i
      display: inline-block
      float: left
      +png(play_link)
      width: 36px
      height: 36px
    a
      display: inline-block
      float: left
      margin-left: 1.5%
      line-height: 36px
      text-decoration: none
      color: #fff
      font-size: 1.5em
      font-weight: 300
  &__text
    margin-top: 6%
  &__value
    overflow: inherit
    margin-top: 6%
    ul
      display: inline
      li
        display: inline-block
        float: left
        margin-right: 15%
        p
          font-size: 2.2em
