.header
  overflow: hidden
  width: 100%
  padding: 0.7% 10% 0.5% 10%
  background-color: #081319
  &__logo
    width: 20%
    display: block
    float: left
  &__menu
    width: 30%
    display: block
    float: right
    top: 50%
    li
      display: inline-block
      a
        display: block
        float: left
        text-transform: uppercase
        text-decoration: none
        color: #fff
.carusel
  overflow: hidden
  width: 100%
  padding: 3% 10% 3% 8%
  background: rgba(8,19,25,1)
  background-image: url(../img/grad.png)
  background-repeat: no-repeat
  background-position: center center
  background: -moz-radial-gradient(center, ellipse cover, rgba(33,53,66,1) 0%, rgba(33,53,66,1) 16%, rgba(8,19,25,1) 59%, rgba(8,19,25,1) 100%)
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(33,53,66,1)), color-stop(16%, rgba(33,53,66,1)), color-stop(59%, rgba(8,19,25,1)), color-stop(100%, rgba(8,19,25,1)))
  background: -webkit-radial-gradient(center, ellipse cover, rgba(33,53,66,1) 0%, rgba(33,53,66,1) 16%, rgba(8,19,25,1) 59%, rgba(8,19,25,1) 100%)
  background: -o-radial-gradient(center, ellipse cover, rgba(33,53,66,1) 0%, rgba(33,53,66,1) 16%, rgba(8,19,25,1) 59%, rgba(8,19,25,1) 100%)
  background: -ms-radial-gradient(center, ellipse cover, rgba(33,53,66,1) 0%, rgba(33,53,66,1) 16%, rgba(8,19,25,1) 59%, rgba(8,19,25,1) 100%)
  background: radial-gradient(ellipse at center, rgba(33,53,66,1) 0%, rgba(33,53,66,1) 16%, rgba(8,19,25,1) 59%, rgba(8,19,25,1) 100%)
.content

.footer
