.product
  width: 80%
  overflow: hidden
  float: left
  clear: left
  &__conteiner
    overflow: inherit
    width: 50%
    float: left
    clear: left
  &__buy
    display: inline-block
    float: left
    padding: 1.6% 4%
    border-radius: 10px
    border: solid 1px #8c8b8b
    background-color: transparent
    color: #fff
    a
      display: inline-block
      text-decoration: none
      color: #5a5a5a
  &__title
    overflow: inherit
    display: inline-block
    width: 100%
    float: left
    clear: both
    h1
      font-size: 1.8em
      font-weight: 400
      color: #535353
  &__vendor-code
    overflow: inherit
    display: inline-block
    padding-top: 5%
    width: 100%
    float: left
    clear: both
    p
      display: inline-block
      float: left
      margin-right: 5%
      color: #8c8b8b
      font-size: 1em
      line-height: 2.4em
  &__specification
    overflow: inherit
    width: 100%
    float: left
    clear: both
    padding: 5% 5% 5% 0
    color: #5a5a5a
  &__img
    overflow: inherit
    position: relative
    width: 50%
    float: right
    clear: right
    img
      display: block
      margin: auto
      clear: both
    .slick-dots
      button
        display: block
        width: 11px
        height: 11px
        background: #ddd
        box-shadow: none
      li
        &.slick-active
          button
            background: #101c23
  &__characteristic
    overflow: hidden
    width: 100%
    float: left
    clear: both
    color: #5a5a5a
    padding-bottom: 7%
    h3
      font-size: 1em
      font-weight: 700
    ul
      display: inline-block
      float: left
      clear: both
      margin-left: 5%
      padding-top: 3%
      li
        padding: 1% 0
        list-style: disc
