<aside>
  <div class="search">
    <span><i></i></span>
    <input type="search" name="name" value="" placeholder="Поиск по сайту">
  </div>
  <ul>
    <li><a href="#">AV кабели, разветвители</a></li>
    <li><a href="#">Bluetooth гарнитуры</a></li>
    <li><a href="#">FM трансмиттеры</a></li>
    <li><a href="#">Автомобильные зарядные устройства</a></li>
    <li><a href="#">Адаптеры и кабели</a></li>
    <li><a href="#">Адаптеры питания</a></li>
    <li><a href="#">Внешние батареи</a></li>
    <li><a href="#">Держатели</a></li>
    <li><a href="#">Докстанции</a></li>
    <li><a href="#">Наклейки декоративные</a></li>
    <li><a href="#">Пленки защитные</a></li>
    <li><a href="#">Чехлы</a></li>
    <li><a href="#">Другое</a></li>
  </ul>
</aside>
